html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main Navigation */
.menuNav{
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 239, 220);
  padding: 1em 2em;
  a{
    text-decoration: none;
    color: black;
  }
  .menuRight{
    display: flex;
    align-items: center;
    :not(:last-child) {
      margin-right: 20px;
    }
    .logBtn{
      background-color: black;
      color: white;
      padding: 0.4em 2em;
      border-radius: 10px;
    }
  }
}

#homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
}


#itemGallery{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.item_container_grid{
    display: grid;
    margin: 1em 2em;
    padding: 1em;
    grid-template-columns: repeat(4,1fr);
    // border: 2px dotted green;
    gap: 10;


  .itemCard{
    border: 1px solid black;
    // border-radius: 25px;
    padding: 2em;
    // margin: 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    div:not(:last-of-type){
      margin-bottom: 1em;
    }
    .itemImage{
      margin-bottom: 1em;
    }

    .itemText{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .itemNavBtns{
      button{
        border: none;
        background-color:blue;
        color: white;
        padding: 0.5em;
        border-radius: 10px;
        cursor: pointer;
      }
      button:not(:last-of-type){
        margin-right: 1em;
      }
    }
  }
}

/* Sell */
.conditionField{
  padding: 1em;
  
  .conditionContainer {
    display: flex;
    :not(:last-child){
     margin-right: 1em;
    }
   }
}





